<%= form_tag "/users/#{ current_user.id }", method: 'put' do %>

  <label for="">name</label>
  <input type="text" name="name" value="<%= current_user.name %>" required>

  <label for="">gender</label>
  <input type="text" name="gender" value="<%= current_user.gender %>" required>

  <label for="">email</label>
  <input type="text" name="email" value="<%= current_user.email %>" required>

  <label for="">password</label>
  <input type="password" name="password" value="<%= current_user.password %>" required>

  <label for="">confirm password</label>
  <input type="password" name="password_confirmation" required>

  <button>confirm changes</button>
<% end %>

<%= form_tag "/users/#{ current_user.id }", method: 'delete' do %>

    <button>delete</button>
    
<% end %>
