<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>
<script>
  $( function() {
    var availableStates = [
      "Victoria",
      "New South Whales",
      "Queensland",
      "South Australia",
      "Tasmania",
      "Western Australia"
    ];
    $( "#state" ).autocomplete({
      source: availableStates
    });
  } );
</script>

<h1>Edit <%=@event.listing%></h1>

<div class="view">
  <!-- <input name="listing" value="<%=@event.listing%>">
  <input name="image_url" value="<%=@event.image_url%>">
  <button name="button">update </button>

</form> -->

  <%= form_tag "/events/#{@event.id}", class: 'newForm', method: 'put' do %>

    <input type="text" name="listing" value="<%=@event.listing%>" size="50">

    <!-- <select name="hobby">
      <option value="">Pick Hobby</option>
      <option value="1">Hiking</option>
      <option value="2">Camping</option>
      <option value="3">Surfing</option>
      <option value="4">Winter Sports</option>
      <option value="5">Extreme Sports</option>
      <option value="6">Fishing</option>
      <option value="7">Cycling</option>
      <option value="8">Water Sports</option>
      <option value="9">Off Roading</option>
      <option value="10">Snorkling/Scuba</option>
    </select> -->

    <input type="text" name="location" value="<%=@event.location%>" size="50">

    <input id="state" type="text" name="state" placeholder="State" size="50">

    <input type="text" name="image_url" value="<%=@event.image_url%>" size="50">

    <input class="smallInp" name="attendees" type="text" value="<%=@event.attendees%>">

    <input class="smallInp" type="text" id="datepicker" name="date" placeholder="Date">

    <input type="text" name="description" value="<%=@event.description%>">

    <button>Edit</button>

  <% end %>

</div>
