    <div id="layoutHeader">

    <img id="australiaMap" src="http://www.clker.com/cliparts/a/2/a/b/11949841821800115186australia-black.svg.hi.png" alt="">

      <h1 id="websiteTitle"><a id="websiteTitle" href="/events">GetLost</a></h1>
        <p id="slogan">Do something. Somewhere. With people.</p>

        <div class="slideshow">
          <% Hobby.all.each do |hobby| %>
            <div><img class="hobbyImg" src="<%= hobby.image_photo %>" alt=""></div>
          <% end %>
        </div>


    </div>

   <div id="subHeader">

    <div id="eventSearch">




      I want to go
        <select id="sportDrp" name="hobby" class="searchDrop">
          <option value="">Pick Hobby</option>
        </select>

        within
        <select id="radiusDrp" name="radius" class="searchDrop">
          <option value=>Pick Radius</option>
          <option value=5>5km</option>
          <option value=10>10km</option>
          <option value=25>25km</option>
          <option value=50>50km</option>
          <option value=100>100km</option>
          <option value=200>200km</option>
          <option value=200>500km</option>
          <option value=8000>Show Me All</option>
        </select>
        of my location
        <button id="filterBtn">get lost</button>


    </div>

      <% if logged_in? %>
    <div class="userDiv">


      <div class="subBarForm">
        <a id="userName" href="/users/<%= current_user.id %>/edit">G'Day, <%= User.find(session[:user_id]).name.capitalize %></a>
      </div>
      <div id="logoutBtn">
          <%= form_tag '/session', method: 'delete' , class: 'subBarForm' do %>
          <button class="logBtn">logout</button>
          <% end %>
      </div>

    </div>

      <% else %>
    <div class="userDiv">


       <%= form_tag '/session', method: 'post', class: 'subBarForm' do %>
          <label for="">email</label>
          <input type="text" name="email">

          <label for="">password</label>
          <input type="password" name="password">

        <button class="logBtn">login</button>

       <a id="signUpTag" href="/users/new">sign up</a>

      <% end %>

    </div>
    <% end %>

  </div>

  <style>
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map {
          height: 90%;
        }
        #floating-panel {
          position: absolute;
          top: 10px;
          left: 25%;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
          text-align: center;
          font-family: 'Roboto','sans-serif';
          line-height: 30px;
          padding-left: 10px;
        }
      </style>

      <div id="map"></div>
      <p>Click on the map to add markers.</p>


      <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfxI8a5U-lL1vQiOWBIkowev5IM89MJf8&callback=initMap">
      </script>
