
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  <script>
  $( function() {
    var availableStates = [
      "Victoria",
      "New South Whales",
      "Queensland",
      "South Australia",
      "Tasmania",
      "Western Australia"
    ];
    $( "#state" ).autocomplete({
      source: availableStates
    });
  } );
  </script>

<div class="view">
  <h1>New Event:</h1>

  <%= form_tag '/events', method: 'post', class: 'newForm' do %>

   <input type="text" name="listing" placeholder="Listing (Keep it short and sweet)" size="50">

   <select name="hobby">
     <option value="">Pick Hobby</option>
     <option value="1">Hiking</option>
     <option value="2">Camping</option>
     <option value="3">Surfing</option>
     <option value="4">Winter Sports</option>
     <option value="5">Extreme Sports</option>
     <option value="6">Fishing</option>
     <option value="7">Cycling</option>
     <option value="8">Water Sports</option>
     <option value="9">Off Roading</option>
     <option value="10">Snorkling/Scuba</option>
   </select>

    <input type="text" name="location" placeholder="Location" size="50">

    <input id="state" type="text" name="state" placeholder="State" size="50">

    <input type="text" name="image_url" placeholder="Optional Image URL"size="50">

    <input class="smallInp" type="text" name="attendee" placeholder="# of spaces">

    <input class="smallInp" type="text" id="datepicker" name="date" placeholder="Date">

    <p><textarea class="description" name="description" rows="10" cols="50" placeholder="Add a description of your event.  Be as detailed as you like!"></textarea></p>

    <button>Create</button>
  <% end %>

</div>

<h1>create event form</h1>
<%=params[:lat]%>
<%=params[:lng]%>
<%=@address%>
<div id="lat"><%=@new_event_latLng[:lat]%></div>
<div id="lng"><%=@new_event_latLng[:lng]%></div>
<%= form_tag '/events', method: 'post' do %>
  <label for="">listing</label>
  <input type="text" name="listing">

  <label for="">location</label>
  <input type="text" name="location">

 <label for="">state</label>
  <input type="text" name="state">

 <label for="">image_url</label>
  <input type="text" name="image_url">

 <label for="">attendees</label>
  <input type="text" name="attendee">

 <label for="">date</label>
  <input type="text" name="date">

 <label for="">hobby</label>
  <input type="text" name="hobby">

 <label for="">description</label>
  <input type="text" name="description">

  <button>create my event</button>
<% end %>

<script type="text/javascript">

        $(document).ready(function() {
          $.ajax({
              type: "GET",
              url: "http://localhost:3000/api/events/reverse_geocoding"
          }).done(function(response){
            console.log(response);
          });

        });
</script>
