<h2>showing your event on this page</h2>

<h1><%=@event.listing%></h1>

<h3><%=@event.location%></h3>

<h3><%=@event.state%></h3>

<h3>Date: <%=@event.date%></h3>

<h4><%=@hobby.sport%></h4>

<img src="<%=@event.image_url%>" alt="">

<p><%=@event.attendees%></p>

<p><%=@event.description%></p>

<%if @event.users != nil %>
  <h4>Attendees: </h4>

    <%@event.users.each do |user|%>

      <h5><%=user.name%></h5>

    <% end %>
<% end %>

<%= form_tag "/events/#{@event.id}/edit", method: 'get' do %>
  <button>edit</button>
<% end %>

<%= form_tag "/events/#{@event.id}", method: 'delete' do %>
  <button>delete</button>
<% end %>
