<div id="layoutHeader">

    <img id="australiaMap" src="http://www.clker.com/cliparts/a/2/a/b/11949841821800115186australia-black.svg.hi.png" alt="">

      <h1 id="websiteTitle"><a id="websiteTitle" href="/events">GetLost</a></h1>
        <p id="slogan">Do something. Somewhere. With people.</p>

        <div class="slideshow">

            <div><img class="hobbyImg" src="<%= @hobby.image_photo%>" alt=""></div>

        </div>
</div>

<h1 class="eventShowListing"><%=@event.listing%></h1>

<div class="show">

  <div class="eventDetails">
    <h3><%=@event.location%></h3>

    <h3><%=@event.state%></h3>

    <h3>Date: <%=@event.date%></h3>

    <h4>Hobby: <%=@hobby.sport%></h4>

    <h4>Total Spaces: <%=@event.attendees%></h4>

    <p><%=@event.description%></p>

  </div>

  <div class="btnPanel">

    <%if @event.creator == current_user.id %>

      <div id="list">
        <h3><span class="userCount"><%=@event.users.count%></span> Spots Filled By: </h3>

          <div class="attendeeList">
            <%@event.users.each do |user|%>
              <h4><%=user.name%></h4>
            <% end %>
            </div>
      <div class="btns">
        <%= form_tag "/events/#{@event.id}/edit", method: 'get' do %>
          <button class="btn">Edit</button>
        <% end %>

        <%= form_tag "/events/#{@event.id}", method: 'delete' do %>
            <button class="btn">Delete</button>
        <% end %>
      </div>

    <% else %>
    <%if @event.users != nil %>
      <div id="list">
        <h3><span class="userCount"><%=@event.users.count%></span> Spots Filled By: </h3>

          <div class="attendeeList">
            <%@event.users.each do |user|%>
              <h4><%=user.name%></h4>
            <% end %>
            </div>

        <button class="join btn">Join!</button>
      </div>

    <% end %>
    <%end %>
  </div>
</div>

<script>

$(document).ready(function() {

  if(<%=@flagUser%>){
    $('.join').html('Joined!');
  }
  $('.join').on('click', function(event){
    console.log('join click')
    var $eventDiv = $(event.target).closest('#list')
    var eventId = "<%=@event.id%>"
    var $joinCount = $eventDiv.find('.userCount')
    var $attendeeList = $eventDiv.find('.attendeeList')
    $.ajax({
      url: '/api/usersevents',
      data: {event_id: eventId},
      method: 'post'
    }).done(function(response){
      console.log(response);
      $joinCount.html(response.join_count)
      $attendeeList.append($('<h4>').html(response.attendee_name))
      $('.join').html('Joined!');
    });
  })
});

</script>
