<!DOCTYPE html>
<html>
  <head>
    <title>Allaussieadventures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= User.find(session[:user_id]).name %>

    <a href="/users/<%= current_user.id %>/edit">edit account</a>

    <%= form_tag '/session', method: 'delete' do %>
    <button>logout</button>
    <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
