<!DOCTYPE html>
<html>
  <head>
    <title>Get Lost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="userLogin">
    
  <% if logged_in? %>


    <a href="/users/<%= current_user.id %>/edit"><%= User.find(session[:user_id]).name %></a>

    <%= form_tag '/session', method: 'delete' do %>
    <button>logout</button>
    <% end %>
  <% end %>

  <% if !logged_in?%>
   <a href="/users/new">sign up</a>

   <%= form_tag '/session', method: 'post' do %>
      <label for="">email</label>
      <input type="text" name="email">

      <label for="">password</label>
      <input type="password" name="password">

    <button>login</button>
  <% end %>
<% end %>
  </div>

    <%= yield %>



  </body>
</html>
